<h1>Novo Chat</h1>

<%= simple_form_for [@stack, @chat] do |f| %>
  <%= f.input :title, label: "Título" %>
  <%= f.submit "Criar Chat", class: "btn btn-primary" %>
<% end %>

<%= link_to "Voltar", stack_chats_path(@stack) %>
